@import "tailwindcss";
@plugin '@tailwindcss/typography';

@config '../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@theme {
	--color-*: initial;
	--color-orange-100: oklch(0.954 0.038 75.164);
	--color-indigo-900: oklch(0.359 0.144 278.697);
	--color-black: #000;
	--color-white: #fff;
	--color-neutral-100: oklch(0.97 0 0);
	--color-neutral-200: oklch(0.922 0 0);
	--color-neutral-300: oklch(0.87 0 0);
	--color-neutral-400: oklch(0.708 0 0);
	--color-neutral-500: oklch(0.556 0 0);
	--color-neutral-600: oklch(0.439 0 0);
	--color-neutral-700: oklch(0.371 0 0);
	--color-neutral-800: oklch(0.269 0 0);
	--color-neutral-900: oklch(0.205 0 0);
	--animate-*: initial;
}

html {
	overflow-y: scroll;
	color-scheme: light;
	background-color: white;
	font-family: "Nunito Variable", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html.dark {
	color-scheme: dark;
	background-color: black;
}

html,
body {
	@apply h-full w-full antialiased;
	@apply text-black/75 dark:text-white/75;
}

body {
	@apply relative flex flex-col;
}

main {
	@apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
	@apply border-b;
	@apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
	@apply bg-transparent border-transparent;
}

header.scrolled {
	@apply bg-white/75 dark:bg-black/50;
	@apply border-black/10 dark:border-white/25;
	@apply backdrop-blur-xs saturate-200;
}

article {
	@apply prose dark:prose-invert max-w-full pb-12;
}

.page-heading {
	@apply font-semibold text-black dark:text-white;
}

.blend {
	@apply transition-all duration-300 ease-in-out;
}

/** styles for public /animation.js */
.animate {
	opacity: 0;
	transform: translateY(50px);
	transition:
		opacity 1s ease,
		transform 1s ease;
}

.animate.show {
	opacity: 1;
	transform: translateY(0);
}

article img {
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	margin: 0 auto;
}
